apps/admin/next-env.d.ts
apps/mobile/expo-env.d.ts
**/.next/**
**/.expo/**
**/dist/**
**/node_modules/**
packages/*/lib/**
test-results/**
ayos-try/**
**/pnpm-lock.yaml
**/database.generated.ts
apps/admin/**
apps/mobile/**
dbsql.md
dbtables.md
